/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Fira Sans';
	background-color: #050A3F;
}


/* Changing the background colour for the header */

header {
	background-color: #83af71;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color:#EFEAE4;
	color: aliceblue;
	font-size: 20px;
	font-family: objektiv-mk1,sans-serif;
	font-weight: 400;
	font-style: normal;
	
}

.navtext_style {
	color: #050A3F;
}

/* First page formats  */

.text_carousel {
	font-family: objektiv-mk1,sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 38px;
	color: #050A3F ;
}

.body_text_style {
	color: #524D70;
	font-family: objektiv-mk1,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.headline_text_style {
	font-family: objektiv-mk1,sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 20px;
}


/* beer pages */
.beer_presentation_text_style {
	font-family: objektiv-mk1,sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 60px;
	color:#59362E;
}

.details.card.format {
	
}

/* Contact form */

.contact_form_bold {
	font-family: objektiv-mk1,sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 20px;
	color: #050A3F;
}
	
/* Activities*/
	
	.card_activities {
		width: 1000px;
		align-content: center;
	}
	
.horizontal_card {
	width: auto;
	height: 70;
}

.button {
	background-color: burlywood;
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.learnmore{
	background-color: #83af71; 
}
	
.our_products_banner {
	align-content: centeractive;
	background-color: #524D70;	
	
}

#our_team {
}
