/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Fira Sans';
	background-color: #DACABE;
}


/* Changing the background colour for the header */

header {
	background-color: #83af71;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #DACABE;
	font-size: 25px; 
}

.navtext_style {
	color: #050A3F;
}

.horizontal_card {
	width: auto;
	height: 70;
}


}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.learnmore{
	background-color: #83af71; 
}

